@charset "UTF-8";

@media screen and (max-width: 602px) {
   header, header > menu {
    flex-flow: column nowrap;
}

header > menu > a {
    width: 90vw;
    text-align: center;
    border-radius: 10px;
}

header > h1 {
    flex-basis:10px;
}


}