@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(187, 187, 180);
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    flex: 0 0 200px;
}

header > menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > menu >  a {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

menu > a:hover {
    background-color: white;
    color: black;
    transition: .55s;
}

main {
    background-color: #f0f8ff;
    padding: 20px; 
    
    margin: 20px;  
}
