@charset "UTF-8";
/*#9882AC
#D11149
#2F242C*/

:root {
    --cor1:#9882AC;
    --cor2:var(--cor2)
}

body {
    background-image: linear-gradient(to left,#2F242C, #9882AC, #D11149);
    height: 100%;
    width: 100%;
    margin: 10px;
    
}

main {
    display: block;
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 500px;
    max-height: 300px;
    padding-bottom: 180px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}

h1 {
  text-align: center;  
  margin-bottom: 50px;
  padding-top: 20px;
}

a {
    display: block;
    background-color: #9882AC;
    padding: 15px;
    margin: 0px;
    border-radius: 50px;
    text-align: center;
    width: auto;
    height: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

img.Perfil {
    position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    max-width: 110px;
    max-height: 110px;
}

a:hover {
    background-color: #D11149;
    color: #2F242C;
    transition: 0.5s;
}



